[Unit]
Description=Slack Controller Service

[Service]
ExecStart=/bin/bash -c './slack-controller.sh'
WorkingDirectory=/home/pi/slack-controller
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
